<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UFT-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
    body
        h1 Estudiantes
        form(method="post")
            label(for="nombre") Nombre:
            input(name="nombre", type="text")
            br
            br
            label(for="edad") Edad:
            input(name="edad", type="text")
            br
            br
            button(type="submit") Guardar
        br
        table(border=1)
                thead
                    th Nombre
                    th Edad
                    th Opciones
                tbody
                    each estudiante in estudiantes
                        tr  
                            td 
                                a(href='/estudiantes/' + estudiante._id) #{estudiante.nombre}
                            td #{estudiante.edad}
                            td 
                                form(method="post", action="/estudiantes/borrar/" + estudiante._id)
                                    button(name="borrar" , type="submit") Borrar
